src/resources/xsd/search.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="field">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="column" type="xs:string"/>
            <xs:attribute name="label" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="search">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="table" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>